

#container {
	float: left;
	margin: 0 auto;
	width: 1350px;
	height: 480px;
}
#sidebar {
	float: left;
	width: 600px;
	height: 480px;
	overflow:auto
}
#rightbar {
	float: left;
	width: 650px;
	height: 480px;
}

#myorders{
	float: left;
	width: 550px;
	height: 0px;
	margin:0px 0px 0px 0px ;   
}
#example-advanced{
    margin:30px 0px 0px 0px ;  
}
#mygraph {
	float: left;
	width: 650px;
	height: 450px;
	margin:0px 0px 0px 10px ;    
}
#mybtn {
	float: left;
	width: auto;
	height: 30px;
}
#graphTitle {
	float: left;
	width: 600px;
	height: 20px;
	margin:0px 0px 0px 0px ;    
	text-align:center;
	font-family:"Î¢ÈíÑÅºÚ";
}


#container2 {
	margin: 0 auto;
	width: 1250px;
}
#sidebar2 {
	float: left;
	width: 550px;
	height: 480px;
	overflow:auto
}
#rightbar2 {
	float: left;
	width: 640px;
	height: 200px;
	overflow:auto;
}

#divcpersions
{
	float: left;
	width: 500px;
	height: 200px;
	margin:0px 0px 0px 0px ;    
	font-family:"Î¢ÈíÑÅºÚ";
}




